# {{ ansible_managed }}

<VirtualHost *:80>
    ServerName www.thereckerfamilycookbook.com
    ServerAlias thereckerfamilycookbook.com
    Redirect permanent / https://www.thereckerfamilycookbook.com
</VirtualHost>

<VirtualHost *:443>
    ServerName thereckerfamilycookbook.com
    Redirect permanent / https://www.thereckerfamilycookbook.com
    SSLCertificateFile /etc/letsencrypt/live/thereckerfamilycookbook.com/cert.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/thereckerfamilycookbook.com/privkey.pem
    Include /etc/letsencrypt/options-ssl-apache.conf
    SSLCertificateChainFile /etc/letsencrypt/live/thereckerfamilycookbook.com/chain.pem
</VirtualHost>

<VirtualHost *:443>
    ServerName www.thereckerfamilycookbook.com
    ServerAdmin alex@reckerfamily.com
    DocumentRoot /var/www/cookbook
    SSLCertificateFile /etc/letsencrypt/live/thereckerfamilycookbook.com/cert.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/thereckerfamilycookbook.com/privkey.pem
    Include /etc/letsencrypt/options-ssl-apache.conf
    SSLCertificateChainFile /etc/letsencrypt/live/thereckerfamilycookbook.com/chain.pem
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet