<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8"/>
<title>The Web Server is Operational</title>
</head>
<body>
  <h1>Good News, Everyone!</h1>
  <p>The web server is working just fine.</p>
</body>
</html>
