# {{ ansible_managed }}

deb http://ftp.debian.org/debian bullseye main contrib
deb-src http://ftp.debian.org/debian bullseye main contrib

deb http://ftp.debian.org/debian bullseye-updates main contrib
deb-src http://ftp.debian.org/debian bullseye-updates main contrib

deb http://security.debian.org bullseye-security main contrib
deb-src http://security.debian.org bullseye-security main contrib

# ansible
deb http://ppa.launchpad.net/ansible/ansible/ubuntu focal main

# jenkins
deb https://pkg.jenkins.io/debian-stable binary/
