# {{ ansible_managed }}
127.0.0.1 localhost
127.0.0.1 jenkins.local
127.0.0.1 minecraft.local
{% for name in variables.keys() %}
127.0.0.1 {{ name }}
{% endfor %}
127.0.1.1 dev.local dev
::1 localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
